.progress-ring-wrapper{
    position: fixed; 
    top: 10px;
    right: 10px;
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
}
.progress-ring-wrapper.animate{
    -webkit-animation: completed-indicator .65s 1;
    animation: completed-indicator .65s 1;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
@keyframes completed-indicator{
    0% {
        background-color: #fff;
    }
    50% {
        top: 2.5px;
        right: 2.5px;
        padding-top: 5px;
        padding-left: 6px;
        width: 60px;
        height: 60px;
        background-color: #00a562;
    }
    
    100% {
        width: 50px;
        height: 50px;
        background-color: #bbb;
    }
}
.progress-ring-wrapper svg{
    position: fixed; 
    top: 10px;
    right: 10px;
}

.close-ring{
    
   
   /* filter: drop-shadow(0 -1px 2px  rgba(0, 255, 0, 0.904)); */
}
.close-ring:hover{
    color: #FFF;
    cursor: pointer;
}
.close-ring svg circle {
    /* box-shadow: 0 0 4px 1px rgba(255, 0, 0, 0.904); */
}
.close-ring svg line{
    /* color: green; */
}
.close-ring:hover svg line{
    stroke: #000;
}
.blogs-container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-wrap{
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
#Blog{
    background: #FFF;
    padding-bottom: 4vh;
    padding-top: 60px;
    /* background: #212529; */
    min-height: 100vh;
;
}
.blog-entry p{
    /* border-top: solid #3b9950 3px; */
    font-size: 18px;
    margin: 0px;
    text-align: left;
}
.blog-entry span{
    text-align: left;
    font-size: 7px;
    float: left;
}
.blog-entry h3{
    margin-top: 0px;
    text-align: left;
}
.blog-entry img{
    max-width: 100%;
    height:456px;
    width: 100%;
    object-fit: cover;

}
.blog-entry{
    max-height: 300px;
    overflow: hidden;
    margin-top: 20px;
    max-height: 456px;
    
}
.blog-entry-row{
    border-top: solid #3b9950 3px;
    padding-top: 10px;
    cursor: pointer;
}
.new-blog-overlay{
    width: 100vw;

    height:100%;
    background: rgba(0, 0, 0, 0.951);

    top: 0; right: 0; bottom: 0; left: 0;
    padding:30px;
    width: calc(100vw - 60px);
    overflow-y: scroll;
    /* display: none; */
    z-index: 25;
    color: #FFF;

}
.blog-overlay img{
    max-width: calc(100vw - 60px);
    max-height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.blog-overlay span{
    color: #FFF;
    font-size: 8px;
    float: left;
}
.blog-overlay h3{
    color: #FFF;

    text-align: left;

}
.blog-overlay p{
    color: #FFF;
    font-size: 18px;
    text-align: left;
    margin-bottom: 150px;
}

.selected-blog{
    max-width: 1000px;
    min-height: 120vh;
    margin: 0 auto;
    padding-top: 80px;
}
.selected-blog img{
    border-radius: 5px;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.15);
    max-width: 75vw;
    height: auto;
}

