.social-share-button{
    margin-left: 2px;
    margin-right: 6px;
}
#Main-NavigationBar-component{
    /* padding-right: 30px;
    padding-left: 30px; */
    padding-top: 10px;
    transition: all 1.5s ease;
    display: inline-flex;
    width: 100%;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 15;
    transition: top 0.3s;
    max-width: 100vw;
}
.social-buttons{
    float: right;
}
.social-buttons svg{
    margin-left: 5px;
}


.selection-list-row{
    
    display: inline-flex;
}
#Main-NavigationBar{
    width: 100%;
    background: #FFF;
    /* height: 7vh; */
    z-index: 99999;
    /* position: fixed; */
    top: 0px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    
}

.border {
    /* position: fixed;
    left: 0px;
    right: 0px;
    top: 7vh; */
    border-top: 4px solid #53917c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    height: 0;
    /* z-index: 10; */
    position: relative;
    top: 19px;
}
/* logo */
.logo{
    margin-left: 10px;
}
.logo img{
    max-height:45px;
    width: auto;
    margin: 10px;
}

/* Hamburger */
.hamburger-menu{
    /* position: fixed;
    top: 20px; */
    width: 26px;
    float: right;
    position: absolute;
    top: calc(3.5vh - 15px);
    right: 1.5vh;
}
.hamburger {
}

.hamburger div {
    background-color: #53917c;
    position: relative;
    width: 26px;
    height: 2px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#toggle {
    display: none;
}

#toggle:checked + .hamburger .top {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    margin-top: 15.5px;
}

#toggle:checked + .hamburger .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            margin-top: -2px;
}

#toggle:checked + .hamburger .bottom {
    -webkit-transform: scale(0);
    transform: scale(0);
}

#toggle:checked ~ .menu {
    height: 340px;
}

.nav-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9;
    overflow-y: scroll;
    
}
.nav-overlay{
    display: none;
}
.nav2 a:link{
    text-decoration: none;
    color:#3b9950;
}
.nav2 a:hover{
    text-decoration: none;
    color:#3b9950;
}
.nav2 a:visited{
    text-decoration: none;
    color:#3b9950;
}
.nav2 a:active{
    text-decoration: none;
    color:#3b9950;
}
.nav2{
    width: 100%;
    display: inline-grid;

}
.nav2-elem{
    position: relative;
    left: 5%;
    margin-top: 50px;
    font-size: 30px;
}

.container {
    /* position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto; */
  }
  .container .circle {
    fill: none;
    stroke: #ffffff;
    stroke-width: 5px;
    stroke-dasharray: 40;
    transition: all 0.2s ease-in-out;
    -webkit-animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
            animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  }
  .container .social {
    color: white;
    font-size: 1.8em;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  .container:hover {
    cursor: pointer;
  }

  .facebook:hover .circle {
    fill: #ffffff;
    fill-opacity: 1;
    -webkit-animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
            animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards, colorFacebook 1s linear forwards;
  }
  .facebook:hover .social {
    color: #3b5998;
  }

  .nav-list{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: right;
    display: none;
    
  }
  .nav-list-item{
      margin-bottom: 5px;
      margin-left: 5px;
      display: inline-flex;
      flex-direction: row;
      justify-content: flex-end;
      font-family: 'Oswald', sans-serif;
      font-family: 'Open Sans', sans-serif;
      font-family: 'Poiret One', cursive;
      /* font-family: 'Didact Gothic', sans-serif; */
      cursor: pointer;
      /* font-weight: bold; */
      font-size: 20px;
      transition: all 0.5s ease;
  }
.nav-list-item:hover{
    color: #045b10;
}
.nav-list-item .selected{
    color: #045b10;
}
.wedding .nav-list-item:hover{
    color: #bfa568;
}
.wedding .nav-list-item .selected{
    color: #bfa568;
}
.main.nav-list-item-dot{
    content: "";
    /* content: url(./ring.svg); */
    height: 4px;
    width: 4px;
    background-color: #045b10;
    border-radius: 50%;
    position: relative;
    /* top: 27px; */
    top: -12px;
    left: -50%;
    visibility: hidden;
    transition: all 0.1s ease;

}
.main.nav-list-item-dot-selected{
    
    content: "";
    height: 5px;
    width: 4px;
    background-color: #045b10;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -50%;
    visibility: visible;
    
     
   
}
.wedding.nav-list-item-dot {

    content: url(./ring.svg);
    height: 12px;
    width: 12px;
    /* background-color: #045b10; */
    border-radius: 50%;
    position: relative;
    top: 27px;
    left: -50%;
    visibility: hidden;
    transition: all 0.1s ease;
    margin-left: -8px;

}
 .wedding.nav-list-item-dot-selected { 
    
     content: url(./ring.svg);
     height: 12px;
     width: 12px;
     /* background-color: transparent; */
     border-radius: 50%;
     position: relative;
     top: -10px;
     left: -50%;
     visibility: visible;
     margin-left: -8px;
}
  a.nav-list-item{
      text-decoration: none;
  }
  a.nav-list-item{
    text-decoration: none;
}
a.nav-list-item:link{
    text-decoration: none;
    color: #000;
}
a.nav-list-item:visited{
    text-decoration: none;
    color: #000;
}
a.nav-list-item:hover{
    text-decoration: none;
    color: #3b9950;
}
a.nav-list-item:active{
    text-decoration: none;
    color: #3b9950;
}
.wedding a.nav-list-item:hover{
    text-decoration: none;
    color: #bfa568;
}
.wedding a.nav-list-item:active{
    text-decoration: none;
    color: #bfa568;
}

  @media screen and (min-width: 768px){
    .hamburger-menu{
          display: none;
      }
      .nav-list{
          display: block;
      }
  }