.FooterIcon{
  border: 3px solid black;
  margin-top: -25px;
  background: #f5f5f9;
  margin-left: 10px;
}
.NewKontakt{
  border: 3px solid green;
  position: fixed;
  top: calc(100vh - 25px);
  background: #f5f5f9;
  width: 100vw;
  z-index: 9999;
}
.footer-icon-container{
  position: relative;
  left: -28px;
}