.scroll-indicator {
    position: absolute;
    left: 50%;
    top: 89vh;
    font-size: 20px;
    color: #000;
    color: #314659;
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}
@-webkit-keyframes bounce {
    0% {
        top: 89vh;
    }
    50% {
        top: 91vh;
    }
    100% {
        top: 89vh;
    }
}
@keyframes bounce {
    0% {
        top: 89vh;
    }
    50% {
        top: 91vh;
    }
    100% {
        top: 89vh;
    }
}

.arrow-down{
    position: absolute;
}
.Main-Logo{
    height: 95vh;
    width: 100%;
    display: flex;
    margin: 0px;
    justify-content: space-around;
    align-items: center;
    background: radial-gradient(circle, rgb(192, 192, 192) 0%, rgba(0, 56, 19, 0.37) 50%, rgb(242, 242, 242) 100%);
    /* background-position:50% 40%;
    background-size: 100% 100%;
    animation: MainBackgroundAnimation 5s ease infinite;
    animation-delay: 2s; */

}
.Wedding-Logo{
    background: linear-gradient(133deg, #bfa568, #000000, #bfa568);
    background-size: 600% 600%;
    -webkit-animation: WeddingBackgroundAnimation 7s ease infinite;
    -moz-animation: WeddingBackgroundAnimation 7s ease infinite;
    animation: WeddingBackgroundAnimation 7s ease infinite;
}
.ja-message{
    position: absolute;
    display: none;
}
.Wedding-Logo .ja-message{
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    text-align: center;
    position: absolute;
    width: 100vw;
    top: 80vh;
    color: #fff;
}

@-webkit-keyframes WeddingBackgroundAnimation {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-moz-keyframes WeddingBackgroundAnimation {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@keyframes WeddingBackgroundAnimation { 
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}
}
@-webkit-keyframes MainBackgroundAnimation {
    0%{background-position:50% 80%;background-size: 100% 100%;}
    25%{background-position:center;background-size: 200% 200%;}
    50%{background-position:50% 80%;background-size: 300% 300%;}
    75%{background-position:50% 80%;background-size: 150% 150%;}
    100%{background-position:center;background-size: 100% 100%;}
}
@-moz-keyframes MainBackgroundAnimation {
    0%{background-position:50% 80%;background-size: 100% 100%;}
    25%{background-position:center;background-size: 200% 200%;}
    50%{background-position:50% 80%;background-size: 300% 300%;}
    75%{background-position:50% 80%;background-size: 150% 150%;}
    100%{background-position:center;background-size: 100% 100%;}
}
@keyframes MainBackgroundAnimation { 
    0%{background-position:50% 80%;background-size: 100% 100%;}
    25%{background-position:center;background-size: 200% 200%;}
    50%{background-position:50% 80%;background-size: 300% 300%;}
    75%{background-position:50% 80%;background-size: 150% 150%;}
    100%{background-position:center;background-size: 100% 100%;}
}

/* LINKS MAIN */
a.shorties-link {
    color: #000;
    color: #314659;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
a.shorties-link:link {
    color: #000;
    color: #314659;
    text-decoration: none;
}
a.shorties-link:hover {
    color: #045b10;
    text-decoration: none;
}
a.shorties-link:active {
    color: #045b10;
    text-decoration: none;
}
a.shorties-link:visited {
    /* color: #000; */
    text-decoration: none;
}

/* LINKS WEDDING */

.wedding a.shorties-link {
    color: #FFF;
}
.wedding a.shorties-link:link {
    color: #FFF;
}
.wedding a.shorties-link:hover {
    color: #BFA568;
}
.wedding a.shorties-link:active {
    color: #BFA568;
}

/* ************************* */
/* #Main-Logo img{
    max-height: 100vw;
    align-self: center;
} */
.main-svg{
    width: 400px;
    height: 400px;
    margin-top: 10vh;
}
.shorties{
    color: #000;
    color: #314659;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.shorties-first{
    /* position: absolute;
    left: 12.5%;
    top: 20vh; */
}
.shorties-second{
    /* position: absolute;
    left: 12.5%;
    top: 75vh; */
}
.shorties-third{
    /* position: absolute;
    right: 12.5%;
    top: 20vh; */
}
.shorties-fourth{
    /* position: absolute;
    right: 12.5%;
    top: 75vh; */
}
.shorties-top{

    /* font-weight: bold; */
    font-size: 21px;

    /* font-family: 'Poiret One', cursive; */
    font-family: 'Lato', sans-serif;
    max-width: 130px;
}
.shorties-bottom{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}
@media screen and (max-width: 1000px){
    .shorties-first{
        position: absolute;
        left: 5%;
        top: 17vh;
    }
    .shorties-second{
        position: absolute;
        left: 5%;
        top: 80vh;
    }
    .shorties-third{
        position: absolute;
        right: 5%;
        top: 17vh;
    }
    .shorties-fourth{
        position: absolute;
        right: 5%;
        top: 80vh;
    }
    .shorties-top{
        /* font-family: 'Oswald', sans-serif; */
        /* font-weight: bold; */
        /* font-size: 28px; */
    }
    .shorties-bottom{
        /* font-family: 'Dancing Script', cursive; */
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    .main-svg{
        width: 300px;
        height: 300px;
        /* margin-top: 30vh; */
    }
}