.review-name{
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    justify-content: space-between;
}
.review-name-text{
    margin-top: 5px;
}


.add-button {
    position: relative;
    margin-top: -40px;
    top: 20px;
    left: -20px;
    width: 40px;
    height: 40px;
    overflow: visible;
    -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    text-align: center;
    line-height: 39px;
    font-size: 30px;
    color: #FFF;
    background: #000;
    border-radius: 50%;
}
.add-button:before {
    position: relative;
    z-index: 100;
    content:"+";
}
.add-button:hover {
    transform: scale(1.5);
}
.delete-button {
    position: relative;
    margin-top: -40px;
    top: 20px;
    left: -20px;
    width: 40px;
    height: 40px;
    overflow: visible;
    -webkit-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    -moz-transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    transition: transform .4s cubic-bezier(.58,-0.37,.45,1.46),
        color 0s ease .4s,font-size .2s;
    text-align: center;
    line-height: 39px;
    font-size: 30px;
    color: #FFF;
    background: #000;
    border-radius: 50%;
    transform: rotate(45deg);
}
.delete-button:before {
    position: relative;
    z-index: 100;
    content:"+";
    
}
.delete-button:hover {
    transform: rotate(45deg) scale(1.5);
    
}

.parallax { 
    /* The image used */
    background-image: url("https://images.pexels.com/photos/64687/pexels-photo-64687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* -webkit-filter: blur(1px); */

    /* filter: grayscale(100%) sepia(100%) hue-rotate(90deg); */
}
.review  textarea {
    width: 99%;
    min-height: 50px;
    border: 0px;
    background: rgb(0,0,0,0.2);
    resize: none;
    overflow: hidden;
    font-family: 'Dancing Script', cursive;
    font-size: 1.17em;
}
.review input {
    width: 99%;
    margin-bottom: 10px;
    margin-top: 30px;
    border: 0px;
    background: rgb(0,0,0,0.2);
    resize: none;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
}
.Reviews{
    width: 100%;
    /* min-height: 100vh; */

    /* background: #060; */
    /* background-image:linear-gradient(to bottom,rgba(0, 93, 29, 0.73), rgba(54, 160, 9, 0.72)), url('https://i.imgur.com/9sBxCmV.jpg'); */
    background-size: cover;
    padding-top: 20px;
    /* line-height: 30px; */
}

.reviews-list{
    /* filter: grayscale(100%) ; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0px;
}
.react-swipeable-view-container {
    padding-bottom: 50px;
}
.review{
    /* min-height: 200px; */
    width: 300px;
    margin: 10px;
    padding: 5px;
    background: #FFF;
    border-radius: 10px;
    color: #045b10;
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review h4{
    text-align: right;
}
.review h3{
    font-family: 'Dancing Script', cursive;
}
.wedding .review{
    color: #333;
    background: #bfa568;
}
.wedding.parallax{
    background-image: url("https://images.pexels.com/photos/256737/pexels-photo-256737.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}