
#Kontakt h2{
  text-align: left;
  margin-top: 0px;
  font-family: 'Dancing Script', cursive;
}

.Footer{
  /* border: 0.5vh solid silver; */
  border-top-left-radius: 38px;
  padding: 10px;
  display: flex;

}
.Footer:after {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 4.5vh;
  width: 97.5%;
  border-top-left-radius: 30px;
  /* border-top-right-radius: 60px; */
  border-top: 0.5vh solid #53917c;
  border-left: 0.5vh solid #53917c;
  border-right: 0.5vh solid #53917c;

}

@media screen and (max-width: 1000px){
  .Footer{
    width: 100%!important;
    left: 0px!important;
    border-top-left-radius: 0px!important;
    padding-top: 5px;
  }
  .Footer:after {
    content:""; 
    background: transparent; 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 2.5vh; 
    width: 96%;
    border-top-left-radius: 0px;
    border-left:0;
    border-top: 0.2vh solid #53917c;
    border-left: 0;
    border-right: 0;
  
  }
  
}